body{
    padding: 0px;
    margin: 0px;
}

.app{
    height: 10000px;
    width: 100%;
    position: relative;
    display: block;
}
.bar{
    position: fixed;
    height: 3px;
    margin: 0px;
    display: block;
    background-color: aqua;
}